# SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# checker systemd units

[Unit]
Description=Run checker %i minutely (with a small random delay).

[Timer]
OnUnitInactiveSec=1min
OnBootSec=5min
RandomizedDelaySec=15
Unit=checker@%i.service
